@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #F5F5F5;
  background-color: #324759;
}